<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel Planner</title>
    <script type="text/javascript" srs="../../../dist/main.js"></script>
</head>

<body>

    <header>
    </header>

    <main>

        <section class="app">

            <div id=title>
                <h2>Travel Planner</h2>
            </div>

            <section id="image">
                <img src="" />
            </section>

            <section id="form">
                <form class="" onsubmit="return handleSubmit(event)">
                    <label for="city">My trip to:</label>
                    <input id="city" type="text" name="input" contenteditable="true" value="" placeholder="City" required><br>
                    <label for="departing">Departing:</label>
                    <input id="departing" type="date" name="date" max="" value="" valueAsNumber="" required><br>
                    <input type="submit" name="" value="Save Trip" id="button" onclick="return Client.handleSubmit(event)">
                    <input type="submit" name="" value="Remove Trip" id="button" onclick="return Client.clearUI()">
                </form>
            </section>

            <section id=results>
                <div id="analysis">
                    <strong><h3>Your trip details:</h3></strong>
                    <div><br></div>
                    <div id="countdown"></div><br>
                    <div id="forecast"></div>
                    <div id="temp"></div>
                    <div id="description"></div>

                </div>
            </section>
        </section>
    </main>

</body>

</html>