<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>NLP</title>
    <script type="text/javascript" srs="../../../dist/main.js"></script>
</head>

<body>

    <header>
        <div class="title">
            SENTIMENT ANALISYS APP
        </div>
        <div class="">

        </div>
    </header>

    <main>
        <section>

            <form class="" onsubmit="return handleSubmit(event)">
                <label>Enter yout text:</label>
                <input id="name" type="text" name="input" rows="30" cols="1" contenteditable="true" value="" placeholder="Text">
                <input type="submit" name="" value="Submit" id="button" onclick="return Client.handleSubmit(event)">
            </form>

            <section>

                <section>
                    <div id="analysis">
                        <strong>Sentiment Analisys Results:</strong>
                        <div><br></div>
                        <div id="agreement"></div>
                        <div id="confidence"></div>
                        <div id="irony"></div>
                        <div id="score_tag"></div>
                        <div id="subjectivity"></div>
                    </div>
                </section>
    </main>

</body>

</html>