form {
    border: 1px solid whitesmoke;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

input {
    margin: 10px;
}

#city {
    width: 50%;
    height: 2em;
}

#departing,
#returning {
    width: 50%;
    height: 2em;
}

#icon {
    height: 50px;
    width: 50px;
    background-size: contain;
}

#button,
#clearButton {
    width: 120px;
    &:hover {
        background: rgba(0, 13, 60, 0.2);
        color: whitesmoke;
        cursor: pointer;
    }
}